:root {
   /* colors */
   --color-gray: #444;
   --color-black: #111;
   --color-primary: teal;
   --color-white: #fff;
   --color-pink: #e94e93;
   --color-deeppink: #d04ce4;
   --color-purple: #9f44df;
   --color-deeppurple: #7b3bea;
 
   /* typography */
   --color-text-base: var(--color-gray);
   --color-text-heading: var(--color-black);
   --font-family-heading: Pacaembu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
   Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
   'Segoe UI Symbol';
   --font-family: Mulish, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
     'Segoe UI Symbol';
   --font-size-base: 18px;
   --font-weight-base: 400;
   --line-height-base: 1.45;
   --line-height-heading: 1.1;
 }




*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }


html,
body {
/*    padding: 0;
   margin: 0; */
   min-width:375px;
  /*   font-size:62.5%; */
   /* line-height: 1.6;
   font-size: 18px; */
   background-color: blue;
}


a {
   color: #0070f3;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

ul, li{ list-style: none;}

img {
   max-width: 100%;
   display: block;
}

