@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Pinyon Script&family=Miss Fajardose&family=Shrikhand&family=Montserrat&family=Mea+Culpa&family=Imperial+Script&display=swap");

:root {
   /* colors */
   --color-gray: #444;
   --color-black: #111;
   --color-primary: teal;
   --color-white: #ffffff;
   --color-pink: #e94e93;
   --color-deeppink: #d04ce4;
   --color-purple: #9f44df;
   --color-deeppurple: #7b3bea;

  
--color-grey-dark-light :#35353590;
--color-grey-light:#eaeaea;
--color-grey-dark-dark :#242A35;
--color-grey70:#35353599;
--color-grey-dark50 :#242A35E1;


 
   /* typography */
  /*  --color-text-base: var(--color-gray);
   --color-text-heading: var(--color-black);
   --font-family-heading: Pacaembu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
   Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
   'Segoe UI Symbol';
   --font-family: Mulish, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
     'Segoe UI Symbol';
   --font-size-base: 18px;
   --font-weight-base: 400;
   --line-height-base: 1.45;
   --line-height-heading: 1.1; */


   /* breaks points*/
   --mobile: 320px;
   --mobile-landscape: 576px;
    --tablette: 768px;
    --tablette-landscape: 1024px;
    --desktop: 1199px;


    /*--font-familly--*/

/* --font-texte :'roboto';
--font-oblique : 'Pinyon Script';
--font-alex :'Parisienne';
--font-Montserrat: 'Montserrat';
--font-Meaculpa: 'Mea Culpa'; */

--font-nav:"Times New Roman";
--font-logo: "Imperial Script";

--font-title-mainheader :'Times New Roman';
--font-subtitle-mainheader:"Times New Roman";


/*--font--*/
--font-exsm: 1.5rem;
--font-sm: 1.6rem;
--font-md: 1.8rem;
--font-lg: 2.3rem;
--font-exlg: 2.5rem;
--font-smbig: 3rem;
--font-mdbig :4rem;
--font-exbig: 5rem;

--font-sm: 16px;
/* helpers*/
--nb-or:1.618;


 }

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

html {
   font-size:62.5%;
   
   min-width:375px;
 }

 @media screen and (min-width: 690px) {
    html{font-size: 75%;}
 }

 @media screen and (min-width: 960px){
   html{font-size: 85%;}
 }
 @media screen and (min-width: 1080px){
   html{font-size: 100%;}
 }


body {
   background-color:var(--color-white);
}


/* .main{
   width: 100%;
   height: auto; 
} */

a {
  
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

ul, li{ list-style: none;}

img {
   max-width: 100%;
   display: block;
}

h1{
/*    font-family: var(--font-texte), sans-serif; */
   font-weight: 500;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
 }

