.container-first-parts{
/* margin-bottom:40px ; */
}
.content-first-parts{
    width: 100%;
    height: auto;
    background-color: var(--color-grey-light);
}

.first-parts__main{
    display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 0 5% 40px 5%;
}

.container-second-parts{
    display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 70px;
  padding-bottom: 60px;
  width: 100%;
  height: 450px;
  background-image: url('/images/museum.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: unset;
  background-position: center;
}

.content-second-parts{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    width: 95%;
    height: 50%; 
}
.second-parts__title{
    grid-column: 1 / span 2;
    grid-row: 1;
    font-style: italic;
    font-size: 2.5rem;
    color: var(--color-white);  
}
.second-parts__author{
    grid-column: 2;
    grid-row: 2;
    color: var(--color-white);
}

.container-third-parts{
    display: grid;
    grid-template-rows: (50%, 50%);
    height: 300px;
    background-color: var(--color-grey-dark-dark);  
}

.third-parts__title{
    grid-row: 1;
    justify-self: center;
    align-self: center;
    /*  padding-top:50px; */
    font-style: italic;
    font-size: 2.5rem;
    color: var(--color-white);
}
.third-parts__button{
    grid-row: 2;
    width: 180px;
    height: 45px;
    font-size: 2.5rem;
    background-color: yellow;
    justify-self: center;
    background-color: var(--color-white);
    color: black;
    text-align: center;
    line-height: 43px;
    border: 1.3px solid var(--color-white);
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    box-shadow: 3px 3px 2px var(--color-white); 
}

@media screen  and (min-width:760px ){
    /* .content-first-parts{
        padding: 0 4%;
    } */
    .first-parts__main{
        justify-content: space-around;
    padding: 0 4% 40px 4%;
    }
    .container-second-parts{
        background-attachment: fixed;
    }
}    
