.container-cards {
    position: relative;
    min-width: 330px;
    max-width: 380px;
    height: 450px;
    margin: 15px auto 30px auto;
    border-radius: 5px;
    overflow: hidden;
}

.cards-header {
    width: 100%;
    height: 100%;
}

.cards-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.cards-title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15%;
    padding: 0 20px 0 20px;
    font-family: 'Pinyon Script';
    font-size: 4rem;
    color: white;
    text-shadow: 0 0 20px var(--color-black), 0px 10px 20px var(--color-black), 0px -10px 20px var(--color-black), -10px 0 20px var(--color-black), 10px 0 20px var(--color-black);

}

.cards-link {
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    height: 45px;
    background-color: var(--color-grey70);
    text-align: center;
    line-height: 43px;
    color: white;
    border: 1.3px solid var(--color-white);
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);

}

@media screen and (min-width:576px) {
    .container-cards {
        display: inline-block;
        margin: 0;
        margin: 15px 20px 30px 20px;
    }

}

@media screen and (min-width:760px) {

    .container-cards {
        position: inherit;
        display: flex;
        min-width: 100%;
        height: 400px;
        margin-bottom: 50px;
    }

    .cards-mini {
        width: 100%;
        height: auto;
        padding: 0 50px 0 50px;
        text-align: center;
        border-radius: 5px;
    }

    .container-cards[pos="left"] {
        flex-direction: row;
    }
    .container-cards[pos="left"] .cards-mini{
        transform: translateX(+500px); 
    }

    .container-cards[pos="left"][reveal="true"] .cards-mini {
        opacity: 0;
        animation: transxright 1s ease-in-out 1s normal forwards;
    }

    .container-cards[pos="right"] {
        flex-direction: row-reverse;
    }
    .container-cards[pos="right"] .cards-mini{
        transform: translateX(-1000px);
    }

    .container-cards[pos="right"][reveal="true"] .cards-mini {
        opacity: 0;
        animation: transxleft 1s ease-in-out 1s normal forwards;
    }

    .cards-header {
        width: 50%;
        border-radius: 5px;
    }

    .cards-information {
        display: flex;
        align-items: center;
        height: 100%;
        width: 49%;
    }

    @keyframes transxleft {
        0% {
            transform: translateX(-1000px);
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes transxright {
        0% {
            transform: translateX(+500px);
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }


    .cards-title {
        position: initial;
        font-size: 3.5rem;
        color: black;
        text-shadow: none;
    }

    .cards-subtitle {
        font-size: 1.5rem;
        text-align: left;
        padding: 10px 20px 0 20px;
    }

    .cards-link {
        display: block;
        position: initial;
        margin: 20px auto 20px auto;
    }
}

@media screen and (min-width: 1080px) {
    .cards-title {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1120px) {
    .cards-title {
        font-size: 3rem;
    }
}