

.container-cards{
    position: relative;
    width: 350px;
    height: calc(var(--nb-or)*350px);
    padding-bottom: 20px; 
}
.cards-header{
    position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid black;
}
.cards-img{object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;}
.cards-bottom{
    width: 100%;
  display: flex;
  justify-content: center;
}
.cards-title{
    font-family: 'Pinyon Script';
    font-size: 4rem;
    position: absolute;
    top: 15%;
    color: white;
    padding: 0 20px 0 20px;
    text-shadow: 0 0 20px  var(--color-black), 0px 10px 20px var(--color-black), 0px -10px 20px var(--color-black), -10px 0 20px var(--color-black), 10px 0 20px var(--color-black) ;
    
}
.cards-link{
    position: absolute;
    top: 80%;

    width: 180px;
    height: 45px;
    background-color: var(--color-grey70);
    text-align: center;
    line-height: 43px;
    color: white;
    border: 1.3px solid var(--color-white);
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%,  rgba(0, 0, 0, 0.5) 50%,rgba(0,0,0,0) 100%);

}


@media screen  and (min-width:760px ){
    .container-cards{

    }
    .cards-title{
      font-size:3.5rem;  
    }
}
@media screen and (min-width: 1080px){
    .cards-title{
font-size:3rem;
    }
}