
  .container {
    width: 100%;
  /*   height: 100%; */
    min-height: 100vh;
   
   /*   background-size: cover; */
   /*  padding-bottom: 4rem; */
  /*   color: white;
 */ 
  }

  .footer {
    /* grid-area: 'footer'; */
  }
  