.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    min-width: 100%;
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
}

.main-header-information {
    width: 350px;
    height: 140px;
}

.main-header__constainer-title {
    height: 9.5rem;
    overflow: hidden;
}

.main-header__title {
    font-family: var(--font-title-mainheader);
    font-style: italic;
    font-size: 4rem;
    font-weight: 300;
    text-shadow: 0 0 0.5px var(--color-black), 0px 0.5px 0.5px var(--color-black), 0px -0.5px 0.5px var(--color-black), -0.5px 0 0.5px var(--color-black), 0.5px 0 0.5px var(--color-black);
    color: var(--color-white);
    text-align: center;
    transform: translateY(9.5rem);
    /* duration timing-funtion delay iteration direction staylastvalue*/
    animation: translateUp 800ms ease-in-out 1s normal forwards;
}

@keyframes translateUp {
    0% {
        transform: translateY(9.5rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

.main-header__constainer-bar {
    height: 10px;
    overflow: hidden;
}

.main-header__bar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    height: 1.5px;
    width: 0px;
    background-color: var(--color-white);
    animation: lineSeparator 800ms ease-in-out 1s normal forwards;
}

@keyframes lineSeparator {
    0% {
        width: 0rem;
    }

    100% {
        width: 25rem;
    }
}

.main-header__constainer-text {
    overflow: hidden;
    height: 3rem;
}

.main-header__text {
    font-size: 2.3rem;
    font-weight: 500;
    font-family: var(--font-subtitle-mainheader);
    color: var(--color-white);
    text-align: center;
    transform: translateY(-3rem);
    /* duration timing-funtion delay iteration direction staylastvalue*/
    animation: translateDown 800ms ease-in-out 1s normal forwards;
}

@keyframes translateDown {
    0% {
        transform: translateY(-3rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

@media screen and (min-width: 460px) {
    .main-header-information {
        width: 100%;
    }

    .main-header__constainer-title {
        height: 5rem;
        overflow: hidden;
    }

    .main-header__title {
        transform: translateY(5rem);
        animation: translateUp 800ms ease-in-out 1s normal forwards;
    }

    @keyframes translateUp {
        0% {
            transform: translateY(5rem);
        }

        100% {
            transform: translateY(0rem);
        }
    }
}

@media screen and (min-width: 690px) {
    .main-header {
        background-size: auto 70%;
        height: 600px;
    }
}


@media screen and (min-width: 960px) {

    .main-header {
        background-size: auto 80%;
        /* height: 600px; */
    }
}


@media screen and (min-width: 1080px) {
    .main-header {
        height: 750px;
        background-size: auto 100%;
    }
}

@media screen and (min-width: 1350px) {
    .main-header {
        background-size: cover;
    }
}