

.container-entete {
    display: block;
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid var(--color-white);
   background-color: var(--color-grey-dark-light);
    transition: transform 0.4s;
  }
  .container-entete[data-visible="false"] {
    transform: translateY(-70px);
  }
  
  .content-entete {
    display: grid;
    grid-template-columns: 0 auto 60px;
    grid-template-rows: 65px auto;
    text-shadow: 0 0 0.5px  var(--color-black), 0px 1px 0.5px  var(--color-black), 0px -1px 0.5px  var(--color-black), -1px 0 0.5px  var(--color-black), 1px 0 0.5px  var(--color-black) ;
    /* @include mobile-landscape {
      grid-template-columns: 40% 20% 40%;
    } */
  }
.entete-left{
    display: flex;
    grid-column: 2 / 4;
    grid-row: 2;
    justify-self: flex-end;
    justify-content: flex-end;
    height: 100%;
    transform: translateX(200px);
    width: 200px;
    background-color:var(--color-grey-dark50);
}
.entete-left[data-toogle="close"] {
    animation-name: toogle-menu-close;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
  }
  .entete-left[data-toogle="open"] {
    animation-name: toogle-menu-open;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  @keyframes toogle-menu-open {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  @keyframes toogle-menu-close {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(200px);
    }
  }

.entete-center{
    grid-column: 2;
    grid-row: 1;
    border-bottom: 1px solid var(--color-white);
}

.entete-center__logo {
    margin-left: 30px;
    text-align: center;
    font-size: var(--font-mdbig);
    font-family: var(--font-logo);
    color: var(--color-white);
    vertical-align: middle;
}
.entete-right{
    display: none;
}
.entete-left__list-item{
    display: block;
  padding: 20px 0 20px 20px; 
}

    .nav-icon{
        width: 40px;
        height: 30px;
        position: relative;
        margin: 0;
      
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
      }
      .nav-icon span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: var(--color-white);
        border-radius: 5px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }
      .nav-icon span:nth-child(1) {
        top: 0px;
      }
      
      .nav-icon span:nth-child(2),
      .nav-icon span:nth-child(3) {
        top: 12px;
      }
      
      .nav-icon span:nth-child(4) {
        top: 24px;
      }
      
      .nav-icon[data-open="true"] span:nth-child(1) {
        top: 12px;
        width: 0%;
        left: 50%;
      }
      
      .nav-icon[data-open="true"] span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      .nav-icon[data-open="true"] span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      
      .nav-icon[data-open="true"] span:nth-child(4) {
        top: 12px;
        width: 0%;
        left: 50%;
      }

      .link-header{
          color:white;
          font-size:var(--font-exlg);
      }


    @media screen and (min-width:768px){
        .content-entete{
            grid-template-columns: 40% 20% 40%;
        }
        .entete-left{
            grid-column: 1/2;
            grid-row: 1;
            justify-self: flex-start;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid var(--color-white);
            transform: translateX(0px);
            background-color: transparent;
        }

        .entete-left[data-toogle="close"] {
          
              animation-name: toogle-menu-open;
              animation-duration: 0s;
            
          }
        
         
        .entete-center{
            border-left: 1px solid var(--color-white);
            border-right: 1px solid var(--color-white) ;
        }

        .entete-center__logo{margin-left: 0;}
        .entete-right{
            display: flex;
        width: 100%;
        height: 100%;
        grid-column: 3;
        grid-row: 1;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid var(--color-white); 
    
        } 

        .entete-left__list-item{
            display: inline;
            padding: 0 30px;
        }
 
    }
 